.vs
.github
.vscode
wget-log
my*/.ipynb_checkpoints
my*/annotated_images
my*/experiment*
my*/export*
my*/pretrained*
my*/trt_annotated*
my*/tlt_*
my*/etlt_*
my*/*images*
my*/*labels*
convertDataset/coco2kitti/annotations
convertDataset/coco2kitti/images
convertDataset/coco2kitti/labels
convertDataset/mot/train
convertDataset/mot/val
convertDataset/mot/labels
