.vs
.github
.vscode
myRaccoon*/.ipynb_checkpoints
myRaccoon*/annotated_images
myRaccoon*/experiment*
myRaccoon*/export*
myRaccoon*/pretrained*
myRaccoon*/trt_annotated*
convertDataset/annotations
convertDataset/images
convertDataset/labels
